/* when the primary class is present it's button whom bg color is primary*/
button, input[type="submit"], .button {
	background: white;
	border: none;
	border-radius: var(--border-radius);
	outline: 0;
	padding: var(--spacing-xs) var(--spacing-s);
	transition: filter 0.3s;

	&:hover {
		filter: brightness(var(--color-btn-brightness-hover));
	}

	&:active {
		filter: brightness(var(--color-btn-brightness-active));
	}

	// primary
	&.primary {
		background: var(--color-primary);
		color: var(--color-primary-contrast);
	}

	// accent
	&.accent {
		background: var(--color-accent);
		color: var(--color-accent-contrast);
	}

	// warn
	&.warn {
		background: var(--color-warn);
		color: var(--color-warn-contrast);
	}

	// success
	&.success {
		background: var(--color-success);
		color: var(--color-success-contrast);
	}

	// disabled
	&:disabled, &:disabled:hover {
		cursor: default;
		color: var(--color-txt-lighter);
		filter: brightness(var(--color-btn-brightness-disabled));
	}

}


// ripple effect when clicking an element, it's a dumbed down css only version of the material design js version
button {
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);

  &:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #fff 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10,10);
    opacity: 0;
    transition: transform .5s, opacity 1s;
  }

  &:active:after  {
    transform: scale(0,0);
    opacity: .2;
    transition: 0s;
  }
}

