

section {
	img {
		width: 100%;
	}
	@extend .z-1;
	background: var(--color-bg-primary);
	margin: var(--spacing-m);
	header {
		@extend h5;
		padding: var(--spacing-m);
		padding-bottom: 0;
	}
	main {
		padding: var(--spacing-m);
	}
	footer {
		padding: var(--spacing-m);
	}
}