/* General fixes */

body, menu, menuitem, dialog, input {
	margin: 0;
	padding: 0;
	outline: 0;
	border: none;
	color: inherit;
}

body {
	min-height: 100vh;
	// the background of the body is secondary
	// and the section, etc. go primary
	background: var(--color-bg-secondary);
}


a {
	text-decoration: none;
	color: inherit;
}

i {
	font-style: normal;
}

i, button, menu, .button {
	cursor: pointer;
}

ul {
	margin:0;
	padding: 0;
}

strong {
	font-weight: 400;
	color: var(--color-warn);
}

::selection {
	background: var(--color-primary);
	color: var(--color-primary-contrast);
}


