@import './utils';
@import './vars/vars';

/** Colors */
// @each $key, $val in $palette {
// 	@if $key == ''{
// 		#{$prefix}: $val;
// 	}@else{
// 		#{$prefix}-#{$key}: $val;
// 	}
// }

/** Spacing */
@include apply-class($spacing, 'mg' , margin);
@include apply-class($spacing, 'pd' , padding);
/** Flex */

.flex {
  display: flex;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexVAlign {
	display: flex;
	align-items: center;
}

.flexWrap {
	display: flex;
	flex-wrap: wrap;
}

.flexStart {
	display: flex;
	justify-content: flex-start;
}

.flexEnd {
	display: flex;
	justify-content: flex-end;
}

.flexColumn{
  display: flex;
  flex-direction: column;
}

.flexGrow {
	flex-grow: 1;
}

.flexBetween {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.flexAround {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

/** miscellaneous */

.cercle {
	border-radius: 50%;
	overflow: hidden;
}

.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}


