@import './utils';
@import './vars/vars';



/** Spacing */
@include apply-class($spacing, 'mg' , margin);
@include apply-class($spacing, 'pd' , padding);

/** colors */
.bg-primary {
	background: var(--color-primary);
}

.color-primary {
	color: var(--color-primary);
}

.bg-accent {
	background: var(--color-accent);
}

.color-accent {
	color: var(--color-accent);
}

.bg-warn {
	background: var(--color-warn);
}

.color-warn {
	color: var(--color-warn);
}

.bg-success {
	background: var(--color-success);
}

.color-success {
	color: var(--color-success);
}

/** text */
.txt-primary {
	color: var(--color-txt-primary);
}

.txt-secondary {
	color: var(--color-txt-secondary);
}

.txt-third {
	color: var(--color-txt-third);
}

/** Flex */
.flex {
  display: flex;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexVAlign {
	display: flex;
	align-items: center;
}

.flexWrap {
	display: flex;
	flex-wrap: wrap;
}

.flexStart {
	display: flex;
	justify-content: flex-start;
}

.flexEnd {
	display: flex;
	justify-content: flex-end;
}

.flexColumn{
  display: flex;
  flex-direction: column;
}

.flexGrow {
	flex-grow: 1;
}

.flexBetween {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.flexAround {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

/** miscellaneous */

.cercle {
	border-radius: 50%;
	overflow: hidden;
}

.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}


