@import './palette/light-palette-functions';
@import './vars/vars';
@import './utils';

/**
* function that takes a primary color etc to define a
* set of css4 variables for colors that can be used throughout the application
*/
@mixin generate-theme($primary: 'indigo', $accent: 'brown', $warn: 'red', $success: 'green', $isDark: false) {
	// gets each palette
	$palette: whole-palette($primary, $accent, $warn, $success, $isDark);
	$primary: map-get($palette, primary);
	$accent: map-get($palette, accent);
	$success: map-get($palette, success);
	$warn: map-get($palette, warn);
	$background: map-get($palette, background);
	$text: map-get($palette, text);
	$divider: map-get($palette, divider);
	// putting scss vars in css4 form
	@include apply-var($primary, '--color-primary');
	@include apply-var($accent, '--color-accent');
	@include apply-var($success, '--color-success');
	@include apply-var($warn, '--color-warn');
	@include apply-var($background, '--color-bg');
	@include apply-var($text, '--color-txt');
	@include apply-var($divider, '--color-divider');
	// vars defined by us
	@include apply-var($spacing, '--spacing');
	@include apply-var($border, '--border');
	@include apply-var($font-weight, '--font-weight');
}

