<section>
	<header>Typography</header>
	<main>

		The Material Design type scale includes a range of contrasting styles that support the needs of your product and its content.

		The type scale is a combination of 13 styles that are supported by the type system. It contains reusable categories of text, each with an intended application and meaning.

		<br><br>

		<span>Note: by default system fonts are used to not have unnecessary download time</span>
		<span class="mg-s spacer"></span>
		<a class="color-primary" href="https://material.io/design/typography/the-type-system.html">Reference</a>

	</main>
</section>


<section>
	<main>
		<ul>
			<li><h1>Material HTML - h1</h1></li>
			<li><h2>Material HTML - h2</h2></li>
			<li><h3>Material HTML - h3</h3></li>
			<li><h4>Material HTML - h4</h4></li>
			<li><h5>Material HTML - h5</h5></li>
			<li><h6>Material HTML - h6</h6></li>
			<li><div class="subtitle1">Material HTML - .subtitle1</div></li>
			<li><div class="subtitle2">Material HTML - .subtitle2</div></li>
			<li><div class="body1">Material HTML - .body1</div></li>
			<li><div class="body2">Material HTML - .body2</div></li>
			<li><div class="caption">Material HTML - .caption</div></li>
			<li><div class="overline">Material HTML - .overline</div></li>
			<li><small>Material HTML - small</small></li>
		</ul>

	</main>
</section>

