<section>
	<header>Typography</header>
	<main>

		The Material Design type scale includes a range of contrasting styles that support the needs of your product and its content.

		The type scale is a combination of 13 styles that are supported by the type system. It contains reusable categories of text, each with an intended application and meaning.

		<br><br>

		<a href="https://material.io/design/typography/the-type-system.html">reference</a>

	</main>
</section>


<section>
	<main>
		<h1>Material HTML - h1</h1>
		<h2>Material HTML - h2</h2>
		<h3>Material HTML - h3</h3>
		<h4>Material HTML - h4</h4>
		<h5>Material HTML - h5</h5>
		<h6>Material HTML - h6</h6>
		<div class="subtitle1">Material HTML - .subtitle1</div>
		<div class="subtitle2">Material HTML - .subtitle2</div>
		<div class="body1">Material HTML - .body1</div>
		<div class="body2">Material HTML - .body2</div>
		<div class="caption">Material HTML - .caption</div>
		<div class="overline">Material HTML - .overline</div>
		<small>Material HTML - small</small>
	</main>
</section>
