@import './palettes';

// maps a string with a palette
$palette-map: (
	'red': $mat-red,
	'pink': $mat-pink,
	'purple': $mat-purple,
	'deep-purple': $mat-deep-purple,
	'indigo': $mat-indigo,
	'blue': $mat-blue,
	'light-blue': $mat-light-blue,
	'cyan': $mat-cyan,
	'teal': $mat-teal,
	'green': $mat-green,
	'light-green': $mat-light-green,
	'lime': $mat-lime,
	'yellow': $mat-yellow,
	'amber': $mat-amber,
	'orange': $mat-orange,
	'deep-orange': $mat-deep-orange,
	'brown': $mat-brown,
	'grey': $mat-grey,
	'blue-grey': $mat-blue-grey
);

// For a given hue in a palette, return the contrast color from the map of contrast palettes.
// @param $color-map
// @param $hue
@function mat-contrast($palette, $hue) {
  @return map-get(map-get($palette, contrast), $hue);
}





/** Generates palette with their contrast*/
@function palette($base-palette, $default: 500, $light: 100, $dark: 700) {
  @return (
		'': map-get($base-palette, $default),
		contrast: mat-contrast($base-palette, $default),

		light: map-get($base-palette, $light),
		light-contrast: mat-contrast($base-palette, $light),

		dark: map-get($base-palette, $dark),
		dark-contrast: mat-contrast($base-palette, $dark)
  );
}


/** gets a mat palette given a color string */
@function get-mat-palette($palette) {
	@if type-of($palette) == string {
		// we have a string representing the color
		// then we get we get the correct material palette
		// from a mat palette (for example red)
		$colorKey: map-get($palette-map, $palette);
    $palette: palette($colorKey);
	}
	@return $palette;
}



/** generate the whole palette */
@function whole-palette($primary, $accent, $warn, $success) {
	// primary is the color palette for example the blue palette
	$primary: get-mat-palette($primary);
	$accent: get-mat-palette($accent);
	$warn: get-mat-palette($warn);
	$success: get-mat-palette($success);

	@return (
		primary: $primary,
		accent: $accent,
		success: $success,
		warn: $warn,
		text: $text,
		background: $background,
		divider: $divider,
		button: $button,
	);
}


