 <header>
  <!-- left -->
  <div class="flexVAlign">
    <i class="material-logo"></i>
    <span>Material HTML</span>
  </div>
  <!-- right -->
  <a href="https://github.com/cedvdb/material-html">
    <img class="github-icon pointer" src="/assets/github-icon.svg"/>
  </a>
</header>

<main class="mainCtnr">

  <router-outlet></router-outlet>

</main>
<nav class="open">
  <small>Guides</small>
  <a class="button" routerLink="getting-started">Getting Started</a>
  <a class="button" routerLink="palette">palette</a>
  <a class="button" routerLink="helpers">Helper classes</a>

  <small>Elements</small>
  <a class="button" routerLink="typography">Typography</a>
  <!-- <a class="button" routerLink="header">Headers</a> -->
  <a class="button" routerLink="elevation">Elevation</a>
  <a class="button" routerLink="menu">Menu</a>
  <a class="button" routerLink="list">Lists</a>
  <a class="button" routerLink="card">Card</a>
  <a class="button" routerLink="button">Buttons</a>
  <!-- <a class="button" routerLink="input">Inputs</a> -->
</nav>
