<header>
  <span>Icon</span>
  <span>Title</span>
  <span>Action</span>
</header>

<main>

  <router-outlet></router-outlet>

</main>
<nav class="open">
  <small>Styles</small>
  <a class="button" routerLink="typography">typography</a>
  <a class="button" routerLink="headers">headers</a>
  <a class="button" routerLink="list">lists</a>
  <a class="button" routerLink="elevation">elevation</a>
  <a class="button" routerLink="buttons">buttons</a>
  <a class="button" routerLink="getting-started">theming</a>
</nav>
<footer>and dem footer</footer>
