<section>
  <header>Card</header>
  <main>
    Cards are surfaces that display content and actions on a single topic.

    They should be easy to scan for relevant and actionable information.
    Elements, like text and images, should be placed on them in a way that clearly indicates hierarchy.
  </main>

</section>

<section>
  <main>
    A card is represented with the html tag &lt;section&gt;, they can have a &lt;header&gt; a &lt;main&gt; and a &lt;footer&gt;
  </main>
</section>

<section>
  <header>This is the header</header>
  <main>This is main</main>
  <footer>This is the footer</footer>
</section>

<section class="example">
  <img src="https://images.pexels.com/photos/375903/pexels-photo-375903.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"/>
  <header>Example</header>
  <main>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
  </main>
  <footer>
    <button>cancel</button>
    <button class="primary">ok</button>
  </footer>
</section>