@import '../utils';

// basic variables that are gonna be used to generate css4 vars by
// generate-theme function
$spacing: (
	xxs: sprem(4),
	xs: sprem(8),
	s: sprem(12),
	m: sprem(24),
	l: sprem(48),
	xl: sprem(64)
	);

$border: (
	radius: 0.2rem,
	radius-s: 0.1rem
);

$font-weight: (
	light: 100,
	normal: 400,
	medium: 500,
	bold: 700,
);
