

<section>

	Buttons can be nicely combined with elevation and background classes to have a variety of button

	<h6>normal button</h6>

	<button>empty</button>
	<button class="primary">.primary</button>

	<h6>raised button</h6>
	<button class="z-1">z-1</button>
	<button class="primary z-h">z-h</button>

	<h6>backgrounds</h6>
	<button class="primary">primary</button>
	<button class="accent">accent</button>
	<button class="warn">warn</button>
	<button class="success">success</button>

</section>
