<section>
  <header>Palette</header>
  <main>
    The Material Design color system uses an organized approach to applying color to your UI.
    In this system, a primary and a secondary color are typically selected to represent your brand.
    Dark and light variants of each color can then be applied to your UI in different ways.
  </main>
  <footer>
    <a class="color-primary" href="https://material.io/design/color/the-color-system.html#color-usage-palettes">
      Reference
    </a>
  </footer>
</section>

<div class="palettes">

  <section *ngFor="let palette of allPalettes">
    <header>
      <!-- 0 is key 1 is value because we used object entries -->
      {{ getName(palette) }}
    </header>

    <main>
      <ul>
        <li *ngFor="let color of getColors(palette)">
          <div class="preview" [style.background]="color.value">

          </div>
          <span>{{ color.name }} - {{ color.value }}</span>
        </li>
      </ul>
    </main>

  </section>
</div>
