@import '../elevation';

.l-layout-vanilla{
  display: grid;
  grid-template-rows: auto 1fr auto;  /* key rule */
  grid-template-columns: auto 1fr;
  height: 100vh;
  grid-template-areas: "header header"
                         "nav main"
                       "footer footer";
}

.l-layout-vanilla > {

	/* work with classes as well as html standard elements*/
	header, .header{
		@extend .z-3; /* elevation shadow */
		grid-area: header;
		z-index: 3;
		height: 3rem;
		align-items: center;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	nav, .nav{
		@extend .z-3; /*elevation shadow  */
		z-index: 2;
		width: 0;
		grid-area: nav;
		transition: min-width 1s;
		overflow-x: hidden;
		overflow-y: auto;
		display: flex;
		flex-direction: column;
		text-transform: capitalize;
	}

	nav.open, .nav.open{
		min-width: 17rem;
	}

	nav.semiClose, .nav.semiClose{
		width: 4rem;
	}

	main{
		grid-area: main;
	}

	footer{
		grid-area: footer;
	}
}